@function rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}
.ml-message-banner{
  width: rem(750px);
  height: rem(400px);
  background: #F6F6F6;
  padding: rem(18px) 0 rem(20px) 0;
  .ml-message-center{
    margin: 0 auto;
    height: rem(400px);
    width: rem(710px);
    .ml-message-logo{
      width:rem(710px);
      height:rem(284px);
      background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.6) 100%);
      border-radius:rem(12px) rem(12px) 0px 0px;
      position: relative;
      overflow: hidden;
      .ml-message-title{
        width: rem(670px);
        position: absolute;
        left: rem(20px);
        bottom:rem(20px);
        height:rem(44px);
        font-size:rem(32px);
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:rem(44px);
        letter-spacing: rem(1px);
        z-index: 1;
      }
      .ml-image-container{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom:0;
        top:0;
        background: url("https://webimg.quanjing.com/Recommend/1558459015894.jpg") no-repeat center center/cover;
      }
    }
    .ml-message-detail{
      background: #ffffff;
      height: rem(80px);
      padding: rem(18px) rem(10px) rem(18px) rem(12px);
      font-size:rem(28px);
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(68,68,68,1);
      line-height:rem(40px);
      letter-spacing:rem(1px);
      border-radius:0 0 12px 12px;
    }
  }
}