@function rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}
.ml-publish-image{
  padding: 0 rem(46px) 0 rem(48px);
  min-height:rem(230px);
  @include clearfix();
  .ml-publish-imageItem{
    width: rem(212px);
    height: rem(212px);
    float: left;
    margin-bottom: rem(10px);
    margin-right: rem(10px);
    border-radius:rem(12px);
    position: relative;
    &:nth-of-type(3n){
      margin-bottom: 0;
      margin-right: 0;
    }
    .image-content{
      position: absolute;
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius:rem(12px);
      background: url("https://webimg.quanjing.com/Recommend/1558459015894.jpg") no-repeat center center/cover;
    }
    .closeBtn{
      width:rem(46px);
      height:rem(46px);
      border-radius: 50%;
      background: #FC355D;
      position: absolute;
      top:rem(10px);
      right: rem(10px);
      .icon{
        width: rem(32px);
        height: rem(32px);
        position: absolute;
        top: rem(8px);
        left: rem(8px);
        background: url("../assets/components/publish/search_close.png") no-repeat center center/cover;
      }
    }
    &.ml-publish-imageBar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:rgba(239,239,239,1);
      border-radius: rem(12px);
      .icon{
        width: rem(88px);
        height: rem(76px);
        margin-bottom: rem(10px);
        display: block;
        background: url("../assets/components/publish/camera.png") no-repeat center center/cover;
      }
      p{
        height:rem(28px);
        font-size:rem(20px);
        font-family:PingFangSC-Light;
        font-weight:300;
        color:rgba(142,142,147,1);
        line-height:rem(28px);
        text-align: center;
        width: 100%;
      }
      .ml-upload-image{
        position: absolute;
        top:0;
        right: 0;
        bottom:0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        outline: none;
        border: none;
      }
    }
  }
}