//utilities
@function rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}
.ml-components-tabBar{
  width:rem(746px);
  height:rem(98px);
  background:rgba(255,255,255,1);
  border:rem(2px) solid rgba(213,213,213,1);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .ml-components-tabBar-item {
    width: rem(50px);
    .icon{
      display: block;
    }
    .title{
      display: block;
      height:rem(28px);
      font-size:rem(20px);
      font-family:PingFangSC-Light;
      font-weight:300;
      color:rgba(142,142,147,1);
      line-height:rem(28px);
      width: rem(50px);
      text-align: center;
    }
    &.home {
      .icon {
        height: rem(47px);
        margin-bottom: rem(6px);
        background: url("../assets/components/tabBar/home.png") no-repeat center center/cover;
      }
    }

    &.message {
      .icon {
        height: rem(41px);
        margin-bottom: rem(8px);
        background: url("../assets/components/tabBar/message.png") no-repeat center center/cover;
      }
    }

    &.personal {
      .icon {
        height: rem(50px);
        margin-bottom: rem(4px);
        background: url("../assets/components/tabBar/personal-center.png") no-repeat center center/cover;
      }
    }
    &.active{
      .title{
        color:rgba(255,60,49,1);
      }
      &.home{
        .icon{
          background: url("../assets/components/tabBar/home-active.png") no-repeat center center/cover;
        }
      }
      &.message{
        background: url("../assets/components/tabBar/message-active.png") no-repeat center center/cover;
      }
      &.personal{
        background: url("../assets/components/tabBar/personal-center-active.png") no-repeat center center/cover;
      }
    }
  }
}
