@function rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}
.ml-topic-content{
  padding: rem(32px) rem(24px);
  height: rem(280px);
  position: relative;
  letter-spacing: rem(2px);
  font-size:rem(28px);
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:rem(40px);
  background: #fff;
  .slide{
    width:rem(62px);
    height:rem(40px);
    font-size:rem(28px);
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:rem(40px);
    position: absolute;
    bottom:rem(12px);
    right: rem(32px);
    text-align: center;
  }
  border-bottom: rem(2px) solid #E7E7E7;
}