@charset "UTF-8";
@import '../../modules/utilities/_utilities';
body{
  background: #f6f6f6;
}
.loginBox {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  //padding-top: rem(84px);
  margin-bottom: rem(110px);
  background: #F6F6F6;
  position: relative;
}
.login_top {
  width: 100%;
  height: rem(400px);
  background: linear-gradient(#F78D7C, #FF8476);
  position: relative;
}
.login_icon_set {
  display: inline-block;
  width: rem(42px);
  height: rem(40px);
  background: #5d9cec;
  position: absolute;
  top: rem(32px);
  left: rem(32px);
}
.login_icon_option {
  display: inline-block;
  width: rem(38px);
  height: rem(36px);
  background: #5d9cec;
  position: absolute;
  top: rem(32px);
  right: rem(32px);
}
.login_userImg {
  width: rem(126px);
  height: rem(126px);
  background: #8967FF;
  position: absolute;
  top: rem(98px);
  left: 50%;
  transform: translateX(- rem(63px));
}
.login_btn {
  display: inline-block;
  width: rem(208px);
  height: rem(58px);
  background: #fff;
  position: absolute;
  top: rem(246px);
  left: 50%;
  transform: translateX(- rem(104px));
  font-size: rem(28px);
  line-height: rem(58px);
  text-align: center;
  border-radius: rem(12px);
  color: #FF8476;
}
.loginBox_header {
  position: absolute;
  //top: rem(84px);
  width: 100%;
  height: rem(578px);
}
.login_main {
  margin-top: rem(18px);
  width: 100%;
  height: rem(160px);
  box-sizing: border-box;
  padding: rem(38px) rem(62px) 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.login_main_item {
  display: flex;
  width: rem(104px);
  height: rem(98px);
  background: #ffff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_userInfo_icon {
  display: inline-block;
  width: rem(50px);
  height: rem(50px);
  background: #5d9cec;
}
.main_userInfo_text {
  width: auto;
  height: rem(36px);
  line-height: rem(36px);
  color: #666;
  font-size: rem(26px);
}
.loginBox_footer {
  width: 100%;
  height: 100%;
  padding-top: rem(578px);
  box-sizing: border-box;
  background: #f6f6f6;
}
.noLogin_img {
  width: rem(350px);
  height: rem(318px);
  margin: rem(104px) auto 0;
  background: #5d9cec;
}
.login_personalFlag {
  width: 100%;
  height: auto;
  padding-top: rem(40px);
  font-size: 0;
  text-align: center;
}
.login_personalFlag_text {
  display: inline-block;
  width: auto;
  height: rem(40px);
  line-height: rem(40px);
  color: #8E8E93;
  font-size: rem(28px);
}
.loginBox_footer_btn {
  width: rem(170px);
  height: rem(62px);
  margin: rem(30px) auto 0;
  line-height: rem(62px);
  background: #fff;
  text-align: center;
  font-size: rem(28px);
  color: #444;
  border-radius: rem(12px);
}
// 登录弹窗
.login_tip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  z-index: 5;
  box-sizing: border-box;
  padding: rem(64px) rem(54px) rem(20px) rem(56px) ;
}
.loginTip_title {
  width: 100%;
  height: rem(60px);
  font-size: 0;
  vertical-align: top;
}
.loginTip_iconLeft {
  display: inline-block;
  width: rem(24px);
  height: rem(24px);
  background: #FF7089;
  margin-top: rem(24px);
  margin-left: rem(8px);
  vertical-align: top;
}
.loginTip_iconR {
  display: inline-block;
  width: rem(12px);
  height: rem(12px);
  background: #FF7089;
  vertical-align: top;
}
.loginTip_title_text {
  display: inline-block;
  width: auto;
  height: rem(60px);
  line-height: rem(60px);
  font-size: rem(44px);
  color: #000;
  font-weight:500;
  vertical-align: top;
}
.loginTip_close {
  display: inline-block;
  width: rem(32px);
  height: rem(30px);
  background: #ccc;
  float: right;
  margin-top: rem(10px);
  margin-right: rem(12px);
  vertical-align: top;
}
.loginTip_img {
  width: rem(632px);
  height: rem(210px);
  background: #FF8476;
  margin: rem(12px) 0 rem(30px) rem(4px);
}
.loginInfo {
  width: 100%;
  height: auto;
  padding: rem(18px) 0;
  border-bottom: 1px solid #ccc;
  font-size: 0;
  margin-bottom: rem(24px);
}
input::-webkit-input-placeholder {
  color: #CECDCE;
  font-size: rem(28px);
  text-align: left;
}
.loginInfo_input {
  display: inline-block;
  width: rem(630px);
  height: rem(40px);
  border: none;
  font-size: rem(28px);
}
.loginInfo_style {
  width: 100%;
  height: rem(40px);
  font-size: 0;
  vertical-align: top;
}
.loginInfo_styleTip, .loginInfo_styleTip2 {
  display: inline-block;
  width: auto;
  height: rem(40px);
  line-height: rem(40px);
  font-size: rem(28px);
  color: #8E8E93;
  vertical-align: top;
}
.loginInfo_styleTip2 {
  float: right;
}
.loginInfo_btn {
  width: rem(630px);
  height: rem(92px);
  border-radius: rem(12px);
  margin-top: rem(44px);
  line-height: rem(92px);
  text-align: center;
  color: #fff;
  font-size: rem(32px);
  background: #FF8476;
}
.loginOther {
  width: 100%;
  height: auto;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: rem(20px);
}
.loginOther_register {
  width: 100%;
  height: rem(40px);
  line-height: rem(40px);
  color: #FF8781;
  text-align: center;
  font-size: rem(28px);
}
.loginOther_three {
  width: 100%;
  height: rem(28px);
  margin-top: rem(32px);
  box-sizing: border-box;
  padding: 0 rem(4px) 0 rem(58px);
  font-size: 0;
  vertical-align: top;
}
.loginOther_line {
  display: inline-block;
  width: rem(276px);
  height: rem(2px);
  background: #E7E7E7;
  margin-top: rem(13px);
  vertical-align: top;
}
.loginOther_loginThree {
  display: inline-block;
  width: auto;
  height: rem(28px);
  line-height: rem(28px);
  margin-left: rem(10px);
  font-size: rem(20px);
  color: #8E8E93;
}
.loginOther_wx {
  width: 100%;
  height: rem(88px);
  padding-top: rem(20px);
  padding-bottom: rem(50px);
  font-size: 0;
  text-align: center;
}
.loginOther_wxImg {
  display: inline-block;
  width: rem(88px);
  height: rem(88px);
  background: green;
}
.loginOther_userRead {
  width: 100%;
  height: rem(28px);
  font-size: 0;
  text-align: center;
  vertical-align: top;
}
.loginOther_readText, .loginOther_readNote {
  display: inline-block;
  width: auto;
  height: rem(28px);
  line-height: rem(28px);
  vertical-align: top;
  font-size: rem(20px);
  font-weight:300;
  color: #8E8E93;
}
.loginOther_readNote {
  color: #3484FF;
}

