@charset "UTF-8";
@import '../../modules/utilities/_utilities';
body{
  background: #cfcfcf;
}
.loginBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: rem(84px);
  padding-bottom: rem(98px);
  background: #cccccc;
}
.login_top {
  width: 100%;
  height: rem(400px);
  background: linear-gradient(#F78D7C, #FF8476);
  position: relative;
}
.login_icon_set {
  display: inline-block;
  width: rem(42px);
  height: rem(40px);
  background: #5d9cec;
  position: absolute;
  top: rem(32px);
  left: rem(32px);
}
.login_icon_option {
  display: inline-block;
  width: rem(38px);
  height: rem(36px);
  background: #5d9cec;
  position: absolute;
  top: rem(32px);
  right: rem(32px);
}
.login_userImg {
  width: rem(126px);
  height: rem(126px);
  background: #8967FF;
  position: absolute;
  top: rem(98px);
  left: 50%;
  transform: translateX(- rem(63px));
}
.login_btn {
  display: inline-block;
  width: rem(208px);
  height: rem(58px);
  background: #fff;
  position: absolute;
  top: rem(246px);
  left: 50%;
  transform: translateX(- rem(104px));
  font-size: rem(28px);
  line-height: rem(58px);
  text-align: center;
  border-radius: rem(12px);
  color: #FF8476;
}
